$color-anger: red;

body * {
  font-size: 3vw !important;
  color: #fff !important;
  background: $color-anger !important;
  border: 1em solid $color-anger !important;
  outline: 1em solid lighten($color-anger, 10%);
}

body *::before,
body *::after {
  content: "\2620";
  display: inline-block;
  position: relative;
  top: .15em;
}

body *::before {
  margin-right: .2em;
}

body *::after {
  margin-left: .2em;
}
