$color-anger: red;

*,
*::before,
*::after {
  color: #fff !important;
  background: $color-anger !important;
  border: 5em solid $color-anger !important;
  outline: 5em solid lighten($color-anger, 10%);
}

*::before,
*::after {
  content: "\2620";
  margin: 0 1em;
  display: inline-block;
}
